.addiction-item-list {
    width: 400px;
    height: 400px;
    border-radius: 20px;
    margin: 25px;
}

.addiction-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    flex-direction: column;
}

.addiction-grid {
    width: 150px;
    height: 150px;
    margin: 10px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.addiction-grid h1 {
    font-size: 25px;
}

.addiction-list {
    display: flex;
    width: 750px;
    height: 95%;
}

.buttons {
    display: flex;
}