.soberDate{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard {
    width: 1000px;
    display: flex;
    justify-content: wrap;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.soberDate, 
.milestone,
.savingCost,
.dashboard .motive, 
.more-options {
    border: solid 2px grey;
    width: 400px;
    margin: 5px;
    padding: 5px;
} 

.more-options {
    display: flex;
    flex-direction: column;
}

.buttons-addictionpage {
    display: flex;
}

.more-options button {
    height: 30px;
    margin: 0 4px;
}