.guest-home {
    background-color: rgb(54, 88, 139);
    height: 100vh;
    width: 100%;
}

.all-addictions {
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
}

.addictions-list h1 {
    margin-top: 100px;
}

.addictions {
    margin-top: 5px;
    background-color: grey;
    height: 500px;
}

.addictions button {
    width: 60px;
    height: 60px;
    border-radius: 20px;
}

@media (max-width: 769px) {
    .addictions-list h1 {
        margin-top: 5px;
        font-size: 20px;
    }

    .addictions-list {
        width: 50px;
        margin: 0px;
    }

    .addictions {
        width: 300px;
        flex-direction: column;
    }

    .guest-home {
        width: 100%;
        display: flex;
        justify-content: center;
    }

}