.addictions-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.addictions-list h1 {
    margin-top: 100px;
}

.addictions {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    height: 400px;
}

.addictions a {
    margin: 0;
    padding: 0;
}