.navbar-top {
    background: darkblue;
    position: fixed;
    width: 100%;
    height: 25px;
    top: 0;
    left: 0;
}

.navbar-navigation {
    display: flex;
    align-items: center;
    padding: 0 3rem;
    height: 100%;
    margin-top: 50px;
    width: 90%;
}

.navbar-logo a{
    color: darkblue;
    text-decoration: none;
    font-size: 1.5rem;
}

.navbar-logo img {
    height: 40px;
}

.spacer, .spacer-right {
    flex:1;
}

.navbar-items ul {
    list-style: none;
    display: flex;
}

.navbar-items li {
    padding: 0 1.5rem;
}

.navbar-items a {
    color:darkblue;
    text-decoration: none;
}

.navbar-items a:hover {
    color: lightblue;
}

@media (max-width: 768px) {
    .navbar-items {
        display: none;
    }

    .navbar-logo img {
        height: 35px;
    }

    .spacer-right {
        display: none;
    }
}

@media (min-width: 769px) {
    .navbar-toggle-button {
        display: none;
    }

    .navbar-logo {
        margin-left: 0;
    }

    .spacer {
        display: none;
    }
}