.register {
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.register-img img{
    display: block;
    height: 400px;
}

.register-form {
    width: 300px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
}

h1 {
    text-align: center;
    width: 100%;
    color: #111;
    font-weight: lighter;
}

form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

label {
    font-size: 0.8rem;
    margin-bottom: 0.25rem;
    color: #222;
    font-weight: lighter;
}

input {
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #cfcfcf;
}

.firstName,
.email,
.userName,
.password {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.firstName,
.userName {
    width: 49%;
}

.userName {
    margin-left: 5px;
}

.email,
.password {
    width: 100%;
}

.createAccount {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}