.menu {
    width: 150px;
    height: 100%;
    background-color: pink;
    display: fixed;
}

.menubar-button {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menubar {
    height: 100%;
    width: 120px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu li {
    list-style: none;
    margin-bottom: 65px;
}
