.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
}

.login-img img {
    height: 280px;
}

.login-form {
    display: flex;
    width: 300px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.username, 
.password-login {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.signin {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}