.addiction-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.addiction-list h1,
.savings h1,
.motive h1 {
    margin: 0;
}

.other {
    display: none;
}

.sober-date,
.confirm,
.savings,
.motive {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.addiction-options {
    display: flex;
    flex-direction: column;
}